body {
    background-color: gray;
    margin: 0;
}
.navbar {
    background-color: white;
    display: block;
    
}
div {
    margin: 0, 0, 0, 0 ;
}
#navbar {
    margin-top: 1em;
} 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
    font-size: 1.5em;
  }
  li a:hover {
      background-color: #111;
  }